@tailwind base;
@tailwind components;
@tailwind utilities;

.navRight {
  position: absolute;
  right: 10px;
}

.btnConnect {
  position: flex;
  width: 130px;
  height: 50.75px;
  right: 5%;
  top: 27px;
  background: #35aef1;
  border-radius: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.navCreate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: flex;
  width: 56px;
  height: 26px;

  top: calc(50% - 26px / 2 - 2px);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.navShop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: flex;
  width: 56px;
  height: 26px;
  left: calc(50% - 56px / 2 + 241.5px);
  top: calc(50% - 26px / 2 - 1px);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
