@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  padding: 5px 15px;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 10px;
}
.mobileNav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.content {
  min-height: calc(100vh - 68px);
}
.Foot {
  position: relative;
  left: 0;
  /* right: 0; */
  bottom: 0;
}
.eth {
  display: inline;
  height: 20px;
  margin: auto;
}
.homeHeader2 {
  text-align: center;
}
.homeHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgba(43, 62, 135, 1);
  align-items: center;
  margin: auto;
  padding: 10px;
  justify-items: center;
  display: flex;
}
.infoContent {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(104, 104, 104, 1);
}
.infoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(43, 62, 135, 1);
}
.icon {
  height: 150px;
  width: 150px;
  display: flex;
}
.nav2 {
  display: flex;
  margin: 0px 0px 0px;
  align-items: flex-end;
  justify-content: right;
}
.logo {
  float: left;
  width: max-content;
  height: 38px;
}
.formLabel {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-right: 25px;
}
.formLabel2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-right: 45px;
}
.formLabel3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-right: 43px;
  padding-top: 5px;
  justify-content: center;
}
.formLabel4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-right: 30px;
  justify-content: center;
}
.pageHeader {
  margin: auto;
  width: 35%;
  padding: 10px;
  justify-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.smallHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.nameInput,
.categoryInput,
.descriptionInput,
.unitInput,
.priceInput {
  box-shadow: rgba(0, 0, 0, 0.99);
  border: shadow;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: solid;
  font-family: "Montserrat", sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
}
.formContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}
.navRight {
  position: absolute;
  right: 10px;
}

.btnConnect {
  position: relative;
  width: 130px;
  height: 50.75px;
  right: 0%;
  top: 6px;
  background: #35aef1;
  border-radius: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.navCreate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: flex;
  width: 56px;
  height: 26px;

  top: calc(50% - 26px / 2 - 2px);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(43, 62, 135, 1);
}

.navShop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: flex;
  width: 56px;
  height: 26px;
  left: calc(50% - 56px / 2 + 241.5px);
  top: calc(50% - 26px / 2 - 1px);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgba(43, 62, 135, 1);
}
